- @user.password = @user.password_confirmation = nil

= error_messages_for :user
= error_messages_for :account

- form_for :user, :url => users_path do |f|
  %fieldset
    %h3 Account Information
    %fieldset
      %label{:for => "company"} Company
      = text_field :account, :company
    %fieldset
      %label{:for => "email"} Email Address
      = f.text_field :email

  %fieldset
    %h3 User Information
    %fieldset
      %label{:for => "login"} Login
      = f.text_field :login
    / %fieldset
    /   %label{:for => "email"} Email
    /   = f.text_field :email

    %fieldset
      %label{:for => "password"} Password
      = f.password_field :password

    %fieldset
      %label{:for => "password_confirmation"} Confirm Password
      = f.password_field :password_confirmation

    %fieldset
      = submit_tag 'Sign Up'
