= error_messages_for :timesheet

- form_for @timesheet, :url => get_timesheet_path do |f|
  %fieldset
    - if @project.blank? && !@client.projects.blank?
      %fieldset.project
        %label{:for => "project"} Project
        = f.select :project, @client.projects.all(:order => 'title ASC').collect {|p| [ p.title, p.id ] }, {:include_blank => 'Choose...'}

    %fieldset
      %label{:for => "worked_at"} Date Worked
      = f.text_field :worked_at
    %fieldset
      %label{:for => "time_spent"} Time Spent
      = f.text_field :time_spent
      %p.note Stored as hours, e.g. 90 minutes would be written as either 1.50 or 1:30.
    %fieldset
      %label{:for => "message"} Message
      = f.text_area :message

  %fieldset.buttons
    = submit_tag 'Add Timesheet'
