= smart_breadcrumbs(:suffix => 'Timesheets')

%table
  %thead
    %tr
      - if @client.blank?
        %th Client
      %th Date
      %th User
      %th Message
      %th Time
  %tbody
    - unless @timesheets.blank?
      - @timesheets.each do |timesheet|
        %tr
          - if @client.blank?
            %td= linkify_section(timesheet.client)
          %td= timesheet.worked_at
          %td= timesheet.user.name
          %td= timesheet.message
          %td= timesheet_time_format(timesheet.time_spent)
    - else
      %tr
        %td.suggest{:colspan => (@client.blank? ? 5 : 4)} There are no timesheets for this #{which_section?}#{!params[:user_id].blank? && @object.class != User ? ' for this user' : ''}#{!params[:date_start].blank? || !params[:date_end].blank? ? ' within this date range' : ''}.

    %tr
      %td.ta_r.bold{:colspan => (@client.blank? ? 4 : 3)} Total Hours:
      %td
        = timesheet_time_format(@timesheets_total_time, :fancy => true)
        %br
        (#{timesheet_time_format(@timesheets_total_time)})


- unless @client.blank?
  #new_timesheet
    = render :partial => 'timesheets/form'

  - @content_for_sidebar = capture_haml do
    %a{:href => get_new_timesheet_path} Add a timesheet


- unless @object.blank?
  - @content_for_tabs = capture_haml do
    = render :partial => "layouts/tabs/#{@object.class.to_s.downcase}", :object => @object, :locals => {:tab => 'timesheet'}